<div class="main">
    <div class="container-fluid logo-div">
        <a class="navbar-brand" href="#">
          <img src="../../../../assets/LogoNoCircle.svg" alt="Logo" class="d-inline-block align-text-top logo">
        </a>
      </div>
      <div class="links-div">
        <ul class="nav">
          <li class="item">
            <a class="link" href="courses">COURSES</a>
          </li>
          <li class="item">
            <a class="link" href="about">ABOUT</a>
          </li>
          <li class="item">
            <a class="link" href="contact">CONTACT US</a>
          </li>
          <li class="item">
            <a href="login">
              <button class="login-button" href="about">
                LOG IN
              </button>
            </a>
          </li>
        </ul>
      </div>
</div>