<div class="main">
    <div class="navbar-div">
      <navbar></navbar>
    </div>
    <div class="content-div">
      <div class="courses-title">
        <h1 class="title">Courses</h1>
        <i class="fa-solid fa-book-journal-whills icon"></i>
        <hr>
      </div>
      <div class="courses-container">
        <ng-container *ngFor="let course of displayedCourses | async">
          <course-card 
            [professor]="course.professorId"
            [name]="course.name"
            [lectures]="course.lectureCount"
            [quizzes]="course.quizCount"
            [courseId]="course.id"
            [isEditable]="(currentUser | async)[0]?.type === 0 ? 0 : 1"
          ></course-card>
        </ng-container>
        <div class="add-course-div" *ngIf="(currentUser | async)[0]?.type === 0">
          <a role="button" (click)="newPopup()">
            <div class="white-border">
              <div class="plus-icon">
                <i class="fa-solid fa-plus fa-2xl"></i>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  