<header></header>
<div class="main">
    <div class="text-div">
        <h1>Achieve Your Academic Goals With Our Adaptive e-Learning Technology</h1>
        <h2>Smart Solutions For Smarter Learning</h2>
        <a href="login">
            <button class="login-button"> LOG IN </button>
        </a>
    </div>
    <div class="image-div">
        <img src="../../../../assets/WelcomeArt.svg" class="image">
        <!-- a href="http://www.freepik.com">Designed by vectorjuice / Freepik</a -->
    </div>
</div>
<div class="mobile">
    <h1>Not Yet Available For This Device Type :(</h1>
</div>
