@import "../../../../styles/variables";

.main{
    height: 100px;
    display: inline-block;
    width: 100%;
    color: white;
    margin-bottom:10px;
    box-shadow: 0px 5px 3px 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    height:200px;
    color:black;
}

.status-div{
    width: 0.4%;
    height: 101%;
    display: inline-block;
    background-color: $crimson;
    border-radius: 5px 0px 0px 5px;
    margin-left: -1px;
    margin-top: -1px;
}

.content{
    display: inline-block;
    vertical-align: top;
    width: 99.6%;
}

.header-1{
    display: inline-block;
}

.header-2{
    float:right;
}

.header-div{
    height:40px;
}

.card-body{
    margin-top:15px;
    height:110px;
}

.footer-div{
    height:30px;
}

.footer-div p{
    margin-top: -6px;
    text-align: center;
}

.col-1{
    display: inline-block;
    margin-left: 125px;
    position: relative;
    margin-top: 1.5%;
}

.col-2{
    width:270px;
    margin-top: 1.5%;
    float: right;
}

button{
    background-color: transparent;
    border: none;
    margin-left: 125px;
}

.fa-x{
    color:$crimson;
}

a{
    text-decoration: none;
}