<div class="main">
    <div class="navbar-div">
        <navbar></navbar>
    </div>
    <div class="content-div">
        <div class="header">
            <div class="settings-title">
                <h1 class="title">Questions</h1>
                <i class="fa-solid fa-clipboard-question icon"></i>
                <hr class="top-hr">
            </div>
            <div class="search-div">
                <select class="form-select" id="autoSizingSelect" [(ngModel)]="selectedCourse" (change)="onSelectCourse()">
                    <option *ngFor="let course of enrolledCourses | async" [value]="course.id">
                        {{ course.name }}
                      </option>
                </select>
            </div>
        </div>
        <div class="questions-div">
            <div class="question-list">
              <question *ngFor="let question of questions | async" [question]="question"></question>
            </div>
          </div>
          
        <a href="add-question" *ngIf="selectedCourse != null" (click)="addQuestion()">
            <div class="add-question-div">
                <i class="fa-solid fa-plus fa-2xl"></i>
            </div>
        </a>
    </div>
</div>