<header></header>
<div class="main">
    <div class="forgot-password-div">
        <h1 class="page-title">
            Forgot Password
        </h1>
        <hr>
        <form>
            <p class="instruction">Please Enter Your Email Address Below</p>
            <div class="mb-3">
                <input type="email" class="form-control" id="emailInput" placeholder="name@example.com">
            </div>
            <p class="alert" style="visibility:hidden">If The Address Exists, An Email Has Been Sent!</p>
            <div class="mb-3 button-div">
                <a href="login">
                    <button type="submit" class="login-button" href="">RECOVER PASSWORD</button>
                </a>
                <p class="go-back"><a href="login">Go Back</a></p>
            </div>
        </form>
    </div>
</div>