@import "../../../../styles/variables";

.main{
    height:91vh;
    background-image: url("../../../../assets/InvertedBackground.svg");
    background-position-y: -1px;
}

.forgot-password-div{
    width:25vw;
    background-color:white;
    padding:35px;
    border-radius: 25px;
    height: 550px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    top:15vh;
    box-shadow: 1px 5px 5px #c5c5c591;
}

.page-title{
    text-align: center;
    margin-bottom: 35px;
    color:$navy;
}

.login-button{
    width:250px;
    height:60px;
    display:block;
    margin: 0 auto;
    border-radius: 30px;
}

input{
    outline: 0;
    border-width: 0 0 2px;
    border-color: $lightgrey;
    margin-top:35px;
}

form{
    margin-top:50px;
}

.alert{
    text-align: center;
    color:$crimson;
    margin-top:75px;
    margin-bottom:10px;
}

a{
    text-decoration: none;
}

.instruction{
    text-align:center;
    color:$navy;
}

.go-back{
    text-align:center;
    margin-top:10px;
}

.go-back a{
    color:$navy;
}

.go-back a:hover{
    color:$orange;
}