<div class="main">
    <div>
        <div class="branding">
            <img src="../../../../assets/logo-color.svg" class="navbar-brand logo">
            <p class="name mb-lg-0">WE LEARN IT</p>
        </div>
    </div>
    <hr>
    <div>
        <p class="version-control">v 0.1 · 
            <a type="button" (click)="openChangelog()" class="router-control">See Changelog</a> 
        </p>
        <p class="copyright">© 2022 Stefan Dobrescu<span class="arr">. All rights reserved</span></p>
    </div>
</div>