<div class="main">
    <div class="navbar-div">
        <navbar></navbar>
    </div>
    <div class="content-div">
        <div class="wrapper">
            <ul class="welcome-title">
                <li><span>WELCOME!</span></li>
            </ul>
        </div>
        <h2 class="welcome-text">Glad To Have You Back {{currentUser.firstName}}!</h2>
        <img class="welcome-image" src="../../../../assets/Welcome.svg">
        <!-- a href="http://www.freepik.com">Designed by vectorjuice / Freepik</a -->
    </div>
</div>